# Dependências
node_modules/
package-lock.json
yarn.lock

# Variáveis de ambiente
.env
.env.local
.env.production

# Arquivos do sistema
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Arquivos da Vercel
.vercel

# IDE
.vscode/
.idea/